:root {
  --gr: rgba(116, 198, 157, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
h5 {
  letter-spacing: 5px;
}
button {
  width: 170px;
  height: 48px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
nav {
  display: flex;
  margin-left: 50px;
  padding-top: 30px;
  gap: 40px;
  justify-content: space-between;
}

header {
  height: 586px;
  background-color: rgba(116, 198, 157, 1);
  color: white;
  padding: 24 4rem;
}
.links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 51px;
}
.header-tex,
.third-section .text {
  width: 416px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 50px;
}
p {
  font-size: 15px;
  line-height: 25px;
}

/*FIRST SECTION*/
.first-section {
  text-align: center;
  margin-top: 60px;
  padding: 0 4rem;
}
.first-section h5 {
    font-size: 15px;
  text-transform: uppercase;
  color: var(--gr);
  
}
.first-section h2{
  line-height: 35px;
  font-size:35px ;
}

.parters-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
}

/* MAIN */
main{
  width: 100%;
height: 1500px;
}
.jkj{
  display: flex;
  gap: 160px;
  margin-top: 60px;
  margin-left: 70px;
}
.jekt-1 img{
  width: 450px;
}
.jekt-2 button{
  background-color: black;
  color: white;
  margin-top: 20px;
}
.jekt-2 h2{
  margin-top: 70px;
}
.jekt-2 p{
  margin-top: 20px;
  color: rgb(117, 115, 115);
}
.cards{
  display: flex;
  gap: 70px;
  margin-top: 50px;
  margin-left: 70px;
  
}
.card-1{
  border: 1px solid rgb(252, 247, 247);
  box-shadow: 10px 10px 10px rgb(181, 179, 179);
  padding: 20px;
}
.card-1 p{
  margin-top: 5px;
}
.card-1 h3{
  margin-top: 10px;
}
/* MAIN */

/* FOOTER */
footer{
  width: 100%;
  background-color: rgba(116, 198, 157, 1);
  display: flex;
  height: 100px;
  padding-top: 30px;
  gap: 350px;
  padding-left: 40px;
}
footer img{
  width: 350px;
  height: 25px;
}

footer p{
  margin-left: 50px;
  color: white;
  font-size: 20px;
}
/* FOOTER */



