*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    width: 100%;
}
.start{
    background: #000000;
width: 100%;
height: 48px;
opacity: 1;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 445px;
padding-right: 146px;
display: flex;
align-items: center;
gap: 232px;
}
.start p{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 14px;
color: #FAFAFA;
line-height: 21px;
letter-spacing: 0%;
}
a{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 16px;
color: #000000;
line-height: 24px;
text-decoration: none;
letter-spacing: 0%;
text-align: center;
}
input{
    background: #F5F5F5;
width: 243px;
height: 38px;
gap: 10px;
opacity: 1;
border-radius: 4px;
padding-top: 7px;
padding-right: 12px;
padding-bottom: 7px;
border: none;
padding-left: 20px;
}
input::placeholder{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 12px;
color: #000000;
line-height: 18px;
letter-spacing: 0%;
}
nav{
    padding: 40px 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
    align-items: center;
    gap: 48px;
}
.inp{
    display: flex;
    align-items: center;
    gap: 24px;
}
.iconss{
        display: flex;
    align-items: center;
    gap: 16px;
}
.lm img{
width: 100%;
}
.texts{
    padding: 80px 135px;
}
h4{
    font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 20px;
color: #FAFAFA;
line-height: 28px;
letter-spacing: 0%;
}
span{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
color: #FAFAFA;
line-height: 24px;
letter-spacing: 0%;
}
footer{
    padding: 80px 135px;
    background-color: #000000;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.logos{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
footer input{
    border: 1.5px solid #FAFAFA;
    width: 217px;
height: 48px;
gap: 32px;
opacity: 1;
border-radius: 4px;
border-width: 1.5px;
padding-top: 12px;
background: none;
padding-bottom: 12px;
padding-left: 16px;
}
footer input::placeholder{
    color: #FAFAFA;
}
.end{
    background-color: #000000;
    padding-bottom: 24px;
    text-align: center;
}
p{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 14px;
color: #000000;
line-height: 21px;
letter-spacing: 0%;
}
section{
    padding: 80px 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.first{
    box-shadow: 0px 1px 13px 0px #0000000D;
background: #FFFFFF;
width: 340px;
padding: 40px 35px;
height: 477px;
top: 323px;
left: 135px;
opacity: 1;
display: flex;
flex-direction: column;
gap: 32px;
border-radius: 4px;
}
.card{
    display: flex;
flex-direction: column;
gap: 24px;
}
.second{
    box-shadow: 0px 1px 13px 0px #0000000D;
background: #FFFFFF;
padding: 40px 32px;
height: 477px;
top: 323px;
display: flex;
flex-direction: column;
gap: 32px;
left: 505px;
opacity: 1;
border-radius: 4px;
}
.small{
    display: flex;
    align-items: center;
    gap: 16px;
}
.biginp{
    width: 757px;
height: 207px;
border-radius: 4px;
padding: 13px 16px;
}
.btn{
    text-align: end;
}

button{
    border: none;
    background: #DB4444;
width: 215px;
height: 56px;
gap: 10px;
opacity: 1;
font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 16px;
color:#FAFAFA ;
line-height: 24px;
letter-spacing: 0%;
border-radius: 4px;
padding-top: 16px;
padding-right: 48px;
padding-bottom: 16px;
padding-left: 48px;
}