*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
}
nav{
    background-color: #74C69D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 123px;
    padding-left: 135px;
    padding-right: 130px;
}
.links{
    display: flex;
    align-items: center;
    gap: 30px;
}
a{
    font-family: Work Sans;
font-weight: 400;
font-style: Regular;
font-size: 20px;
color: #fff;
line-height: 125%;
text-decoration: none;
letter-spacing: 0px;
text-align: right;
}
.texts{
    display: flex;
    text-align: center;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}

span{
    font-family: Work Sans;
font-weight: 700;
font-style: Bold;
font-size: 16px;
color: #74C69D;
line-height: 125%;
letter-spacing: 5px;
text-align: center;
text-transform: uppercase;
}
h1{
    font-family: Crimson Text;
font-weight: 700;
font-style: Bold;
font-size: 40px;
color: #000;
line-height: 125%;
letter-spacing: 0px;
text-align: center;
}
p{
    font-family: Work Sans;
font-weight: 400;
font-style: Regular;
font-size: 20px;
color: #000;
line-height: 125%;
letter-spacing: 0px;
}
footer{
    background-color: #74C69D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 123px;
    padding-left: 135px;
    padding-right: 130px;
}
input{
    border: 1px solid #000000;
    background: #EEEEEE;
width: 575px;
height: 38px;
opacity: 1;
border-radius: 5px;
border-width: 1px;
}
section{
    display: flex;
    align-items: center;
    padding: 60px 130px;
    justify-content: space-between;
}
.secttext{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.o{
       border: 1px solid #000000;
    background: #EEEEEE;
width: 575px;
height: 75px;
opacity: 1;
border-radius: 5px;
border-width: 1px; 
}